[submodule "backend-services/account/topdiner-account-user-self-registeration-bff-service"]
	path = backend-services/account/topdiner-account-user-self-registeration-bff-service
	url = ../topdiner-account-user-self-registeration-bff-service
